# Env
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.pytest_cache/
.mypy_cache/

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
.DS_Store

# Media uploads
backend/media/*
!backend/media/.gitkeep
.env.prod
.env
